@media screen and (max-width:1366px) {}

@media screen and (max-width:768px) {
  nav div.bgMenu {
    height: 20rem;
    overflow: hidden;
  }

  nav div.bgMenu img {
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width:450px) {}
