@media screen and (max-width:1366px) {
  nav div.bookingBoard div.bookingMenu div.button {
    padding: 0.5rem 0;
  }

  /* Quadro de Reservas ======================================= */
  nav div.bookingBoard {
    width: 70%;
  }

  nav div.bookingBoard fieldset {
    padding: 1.25rem 0.75rem;
  }

  nav div.bookingBoard div.inputGroup {
    gap: 0.75rem;

    padding-bottom: 0.75rem;
  }
}

@media screen and (max-width:768px) {
  header div.menu {
    padding: 0.20rem 0.8rem;
  }

  header div.logo {
    position: relative;
    top: 0rem;
  }

  header div.logo img {
    width: 0.85rem;
    height: 0.85rem;
    position: relative;
    top: 0.12rem;
  }

  header div.logoText {
    color: rgb(255, 69, 0);
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    top: 0.05rem;
  }

  header svg {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
  }

  nav div.bgMenu {

    height: auto;
    min-height: 18rem;
  }

  nav div.bookingBoard {
    width: 90%;

    position: absolute;
  }

  main {

    padding: 0 2rem;

  }

  footer {
    padding: 0 2rem;
  }
}

@media screen and (max-width:425px) {

  /* Barra superior e logo */
  header div.menu {
    padding: 0.15rem 0.8rem;
  }

  header div.logo {
    position: relative;
    top: 0rem;
  }

  header div.logo img {
    width: 0.75rem;
    height: 0.75rem;
    position: relative;
    top: 0.07rem;
  }

  header div.logoText {
    color: rgb(255, 69, 0);
    font-weight: bold;
    font-size: 0.85rem;
    position: relative;
    top: 0.05rem;
  }

  header svg {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
  }

  /* Imagem do Quadro =========================================== */
  nav {
    margin-bottom: 1.25rem;
  }

  nav div.bgMenu {
    height: 20rem;
  }

  nav div.bgMenu img {
    width: 200%;
  }




  /* Quadro de Reservas ============================================= */
  nav div.bookingBoard {
    width: 17rem;

    position: absolute;
  }

  nav div.bookingBoard h1 {
    text-align: center;
  }

  nav div.bookingBoard div.inputGroup {
    flex-direction: column;
    gap: 0.75rem;
  }

  nav div.bookingBoard div.input {
    width: 15rem;
  }

  nav div.bookingBoard div.input input {
    margin-top: 0px;
  }



  /* Main e Sections ========================================= */
  main {
    padding: 0 1rem;
    margin-bottom: 1.25rem;
  }

  /* Good Offers Right Now / Galeria  ======================== */
  main article section.offers {
    /* overflow: hidden; */
  }

  main article div.gallery {
    display: grid;
    grid-template-areas:
      "primary primary"
      "one two"
      "three four";
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 100px 100px;

    margin-bottom: 1rem;
  }

  main article div.gallery div.primary p {
    font-size: 0.875rem;

    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
  }

  main article div.gallery div.secundary p {
    font-size: 0.875rem;

    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
  }

  main article div.gallery div.primary {
    padding: 0rem 0rem;
    padding-bottom: 0.25rem;
  }

  main article div.gallery div.primary img {
    width: 100%;

    object-fit: cover;
    object-position: top;
  }

  main article div.gallery div.one,
  main article div.gallery div.three {
    padding: 0rem 0rem;
    padding-bottom: 0.25rem;
    padding-right: 0.15rem;

  }

  main article div.gallery div.two,
  main article div.gallery div.four {
    padding: 0rem 0rem;
    padding-bottom: 0.25rem;
    padding-left: 0.15rem;
  }






  /* Explore Nature ========================================== */

  main article section.nature div.cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }






  /* Footer  ================================================= */
  footer {
    padding: 0 1rem;
  }

  footer div.containerFooter div.newsletter {
    margin-bottom: 1.25rem;
  }
}
